[submodule "26-foundry-defi-stablecoin/lib/openzeppelin-contracts"]
	path = 26-foundry-defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "26-foundry-defi-stablecoin/lib/chainlink-brownie-contracts"]
	path = 26-foundry-defi-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "56-foundry-account-abstraction/lib/forge-std"]
	path = 56-foundry-account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "56-foundry-account-abstraction/lib/account-abstraction"]
	path = 56-foundry-account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "56-foundry-account-abstraction/lib/openzeppelin-contracts"]
	path = 56-foundry-account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "56-foundry-account-abstraction/lib/foundry-era-contracts"]
	path = 56-foundry-account-abstraction/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
[submodule "59-security-course/1-basic-solc-project/lib/forge-std"]
	path = 59-security-course/1-basic-solc-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "59-security-course/1-basic-solc-project/lib/openzeppelin-contracts"]
	path = 59-security-course/1-basic-solc-project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
