:root {
	--icons-color: #ffdf2b;
	--icons-light-color: #ffdf2b57;
	--icons-bg-color: #ffdf2b;
	--shadow-dark-color: #555557;
	--bg-shadow-dark-color: #555557;
	--shadow-light-color: #232325;
	--main-bg-color: #232325;
	--overlay: #2323255e;

	--box-shadow: 1px 1px 2px #ffdf2b, -1px -1px 2px #ffdf2b;

	--box-shadow-2: 1px 1px 2px #ffdf2b, -1px -1px 2px #ffdf2b;
}
